<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.khw.portfolio.member.MemberMapper">
	<select id="LoginInfo" parameterType="string" resultType="kr.co.khw.portfolio.member.MemberVO" >
		select * from member where id = #{id}
	</select>

	<insert id="Join" parameterType="kr.co.khw.portfolio.member.MemberVO">
		insert into member (id, name, password, hp, birthday)
		values (#{id}, #{name}, #{password}, #{hp}, #{birthday})
	</insert>
	
	<select id="memberlist" resultType="kr.co.khw.portfolio.member.MemberVO">
		select * from member where DATEDIFF(now(),regdate)<![CDATA[<]]> 4 order by regdate desc limit 0,5
	</select>
</mapper>